<img src="assets/images/{{model.CurrentPlayer.race}}.PNG" 
     alt="profile" class="avatar pull-left" width="110" height="110">

<h1>{{model.CurrentPlayer.name}}</h1>
<br>
<div alt="{{model.CurrentPlayer.league}}" class="league {{model.CurrentPlayer.league}} medium ach1"></div>

{{outlet}}
